@import 'src/assets/sass-utils/variables.scss';

.CryptoPriceSlider {
    padding: 0 20px;
    gap: 10px;
    overflow: hidden;
    max-width: 400px;

    & &__slider {
        display: flex;
        transition: all 0.1s;

        &--name,
        &--price {
            font-size: 1.2rem;
        }

        &--name{
            color: $secondary-color-800;
        }

        &--price {
            color: $text-base-color
        }

        &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 140px;
            max-width: 140px;
            gap: 10px;
        }
    }
}