@import 'src/assets/sass-utils/variables.scss';

.crypto-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .crypto-table th,
  .crypto-table td {
    padding: 10px;
    text-align: center;
    color: $text-base-color;
  }
  
  .crypto-table th:first-child,
  .crypto-table td:first-child {
    width: 30px; /* Largura menor para o primeiro coluna (#) */
  }