/* ------------ COLORS ------------- */

$primary-color-100: #FFF6E8;
$primary-color-500: #FBAB34;
$primary-color-700: #AD721A;

$secondary-color-100: #F6F6F6;
$secondary-color-200: #F4F3F8;
$secondary-color-300: #E0DEEA;
$secondary-color-500: #8C8A97;
$secondary-color-800: #4E4B59;

$tertiary-color-500: #1BD171;
$tertiary-color-700: #149E55;

$quartenary-color-500: #EC3237;

$white: #FFF;
$black: #000;
$text-base-color:#5D6670;


/* ------------- SIZES ------------- */

$header-height: 4rem; 